.animationBorder {
    font: 'Rubik';
    @apply rounded-br-md p-4;
    
    border: 0.1rem solid #A4DE02; /* Lime green */
   
    box-shadow: 0 0 .1rem #fff,
    0 0 .2rem #353535, /* Matte black */
    0 0 2rem #A4DE02,
    0 0 0.4rem #A4DE02,
    0 0 0.4rem #A4DE02,
    inset 0 0 1.3rem #353535; /* Matte black */
}